@charset "UTF-8";

@font-face {
  font-family: "hody-icons";
  src:url("../fonts/hody-icons.eot");
  src:url("../fonts/hody-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/hody-icons.woff") format("woff"),
    url("../fonts/hody-icons.ttf") format("truetype"),
    url("../fonts/hody-icons.svg#hody-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[class^="hc-"]:before,
[class*=" hc-"]:before {
  font-family: "hody-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hc-add:before {
  content: "\e000";
}
.hc-add-circle:before {
  content: "\e001";
}
.hc-alarm:before {
  content: "\e002";
}
.hc-albums:before {
  content: "\e003";
}
.hc-alert:before {
  content: "\e004";
}
.hc-american-football:before {
  content: "\e005";
}
.hc-analytics:before {
  content: "\e006";
}
.hc-aperture:before {
  content: "\e007";
}
.hc-apps:before {
  content: "\e009";
}
.hc-appstore:before {
  content: "\e00a";
}
.hc-archive:before {
  content: "\e00b";
}
.hc-arrow-dropdown:before {
  content: "\e00e";
}
.hc-arrow-dropdown-circle:before {
  content: "\e00f";
}
.hc-arrow-dropleft:before {
  content: "\e010";
}
.hc-arrow-dropleft-circle:before {
  content: "\e011";
}
.hc-arrow-dropright:before {
  content: "\e012";
}
.hc-arrow-dropright-circle:before {
  content: "\e013";
}
.hc-arrow-dropup:before {
  content: "\e014";
}
.hc-arrow-dropup-circle:before {
  content: "\e015";
}
.hc-arrow-round-back:before {
  content: "\e017";
}
.hc-arrow-round-down:before {
  content: "\e018";
}
.hc-arrow-round-forward:before {
  content: "\e019";
}
.hc-arrow-round-up:before {
  content: "\e01a";
}
.hc-at:before {
  content: "\e01c";
}
.hc-attach:before {
  content: "\e01d";
}
.hc-backspace:before {
  content: "\e01e";
}
.hc-barcode:before {
  content: "\e01f";
}
.hc-baseball:before {
  content: "\e020";
}
.hc-basket:before {
  content: "\e021";
}
.hc-basketball:before {
  content: "\e022";
}
.hc-battery-charging:before {
  content: "\e023";
}
.hc-battery-dead:before {
  content: "\e024";
}
.hc-battery-full:before {
  content: "\e025";
}
.hc-beaker:before {
  content: "\e026";
}
.hc-beer:before {
  content: "\e027";
}
.hc-bicycle:before {
  content: "\e028";
}
.hc-bluetooth:before {
  content: "\e029";
}
.hc-boat:before {
  content: "\e02a";
}
.hc-body:before {
  content: "\e02b";
}
.hc-bonfire:before {
  content: "\e02c";
}
.hc-book:before {
  content: "\e02d";
}
.hc-bookmark:before {
  content: "\e02e";
}
.hc-bookmarks:before {
  content: "\e02f";
}
.hc-bowtie:before {
  content: "\e030";
}
.hc-briefcase:before {
  content: "\e031";
}
.hc-browsers:before {
  content: "\e032";
}
.hc-brush:before {
  content: "\e033";
}
.hc-bug:before {
  content: "\e034";
}
.hc-build:before {
  content: "\e035";
}
.hc-bulb:before {
  content: "\e036";
}
.hc-bus:before {
  content: "\e037";
}
.hc-cafe:before {
  content: "\e038";
}
.hc-calculator:before {
  content: "\e039";
}
.hc-calendar:before {
  content: "\e03a";
}
.hc-call:before {
  content: "\e03b";
}
.hc-camera:before {
  content: "\e03c";
}
.hc-car:before {
  content: "\e03d";
}
.hc-card:before {
  content: "\e03e";
}
.hc-cart:before {
  content: "\e03f";
}
.hc-cash:before {
  content: "\e040";
}
.hc-chatboxes:before {
  content: "\e041";
}
.hc-chatbubbles:before {
  content: "\e042";
}
.hc-checkbox:before {
  content: "\e043";
}
.hc-checkmark:before {
  content: "\e044";
}
.hc-checkmark-circle:before {
  content: "\e045";
}
.hc-clipboard:before {
  content: "\e046";
}
.hc-clock:before {
  content: "\e047";
}
.hc-close:before {
  content: "\e048";
}
.hc-close-circle:before {
  content: "\e049";
}
.hc-closed-captioning:before {
  content: "\e04a";
}
.hc-cloud:before {
  content: "\e04b";
}
.hc-cloud-circle:before {
  content: "\e04c";
}
.hc-cloud-done:before {
  content: "\e04d";
}
.hc-cloud-download:before {
  content: "\e04e";
}
.hc-cloud-upload:before {
  content: "\e04f";
}
.hc-cloudy:before {
  content: "\e050";
}
.hc-cloudy-night:before {
  content: "\e051";
}
.hc-code:before {
  content: "\e052";
}
.hc-code-download:before {
  content: "\e053";
}
.hc-code-working:before {
  content: "\e054";
}
.hc-cog:before {
  content: "\e055";
}
.hc-color-fill:before {
  content: "\e056";
}
.hc-color-filter:before {
  content: "\e057";
}
.hc-color-palette:before {
  content: "\e058";
}
.hc-color-wand:before {
  content: "\e059";
}
.hc-compass:before {
  content: "\e05a";
}
.hc-construct:before {
  content: "\e05b";
}
.hc-contact:before {
  content: "\e05c";
}
.hc-contacts:before {
  content: "\e05d";
}
.hc-contract:before {
  content: "\e05e";
}
.hc-contrast:before {
  content: "\e05f";
}
.hc-copy:before {
  content: "\e060";
}
.hc-create:before {
  content: "\e061";
}
.hc-crop:before {
  content: "\e062";
}
.hc-cube:before {
  content: "\e063";
}
.hc-cut:before {
  content: "\e064";
}
.hc-desktop:before {
  content: "\e065";
}
.hc-disc:before {
  content: "\e066";
}
.hc-document:before {
  content: "\e067";
}
.hc-done-all:before {
  content: "\e068";
}
.hc-download:before {
  content: "\e069";
}
.hc-easel:before {
  content: "\e06c";
}
.hc-egg:before {
  content: "\e06d";
}
.hc-euro:before {
  content: "\e06e";
}
.hc-exit:before {
  content: "\e06f";
}
.hc-expand:before {
  content: "\e070";
}
.hc-eye:before {
  content: "\e071";
}
.hc-eye-off:before {
  content: "\e072";
}
.hc-fastforward:before {
  content: "\e073";
}
.hc-female:before {
  content: "\e074";
}
.hc-filing:before {
  content: "\e075";
}
.hc-film:before {
  content: "\e076";
}
.hc-finger-print:before {
  content: "\e077";
}
.hc-flag:before {
  content: "\e078";
}
.hc-flame:before {
  content: "\e079";
}
.hc-flash:before {
  content: "\e07a";
}
.hc-flask:before {
  content: "\e07b";
}
.hc-flower:before {
  content: "\e07c";
}
.hc-folder:before {
  content: "\e07d";
}
.hc-folder-open:before {
  content: "\e07e";
}
.hc-football:before {
  content: "\e07f";
}
.hc-funnel:before {
  content: "\e080";
}
.hc-game-controller-a:before {
  content: "\e081";
}
.hc-game-controller-b:before {
  content: "\e082";
}
.hc-git-branch:before {
  content: "\e083";
}
.hc-git-commit:before {
  content: "\e084";
}
.hc-git-compare:before {
  content: "\e085";
}
.hc-git-merge:before {
  content: "\e086";
}
.hc-git-network:before {
  content: "\e087";
}
.hc-git-pull-request:before {
  content: "\e088";
}
.hc-glasses:before {
  content: "\e089";
}
.hc-globe:before {
  content: "\e08a";
}
.hc-grid:before {
  content: "\e08b";
}
.hc-hammer:before {
  content: "\e08c";
}
.hc-hand:before {
  content: "\e08d";
}
.hc-happy:before {
  content: "\e08e";
}
.hc-headset:before {
  content: "\e08f";
}
.hc-heart:before {
  content: "\e090";
}
.hc-help:before {
  content: "\e091";
}
.hc-help-buoy:before {
  content: "\e092";
}
.hc-help-circle:before {
  content: "\e093";
}
.hc-home:before {
  content: "\e094";
}
.hc-ice-cream:before {
  content: "\e095";
}
.hc-image:before {
  content: "\e096";
}
.hc-images:before {
  content: "\e097";
}
.hc-infinite:before {
  content: "\e098";
}
.hc-informatcircle:before {
  content: "\e099";
}
.hc-information:before {
  content: "\e09a";
}
.hc-ionic:before {
  content: "\e09b";
}
.hc-ionitron:before {
  content: "\e09c";
}
.hc-jet:before {
  content: "\e09d";
}
.hc-key:before {
  content: "\e09e";
}
.hc-keypad:before {
  content: "\e09f";
}
.hc-laptop:before {
  content: "\e0a0";
}
.hc-leaf:before {
  content: "\e0a1";
}
.hc-link:before {
  content: "\e0a2";
}
.hc-list:before {
  content: "\e0a3";
}
.hc-list-box:before {
  content: "\e0a4";
}
.hc-locate:before {
  content: "\e0a5";
}
.hc-lock:before {
  content: "\e0a6";
}
.hc-log-in:before {
  content: "\e0a7";
}
.hc-log-out:before {
  content: "\e0a8";
}
.hc-magnet:before {
  content: "\e0a9";
}
.hc-mail:before {
  content: "\e0aa";
}
.hc-mail-open:before {
  content: "\e0ab";
}
.hc-male:before {
  content: "\e0ac";
}
.hc-man:before {
  content: "\e0ad";
}
.hc-map:before {
  content: "\e0ae";
}
.hc-medal:before {
  content: "\e0af";
}
.hc-medical:before {
  content: "\e0b0";
}
.hc-medkit:before {
  content: "\e0b1";
}
.hc-megaphone:before {
  content: "\e0b2";
}
.hc-menu:before {
  content: "\e0b3";
}
.hc-mic:before {
  content: "\e0b4";
}
.hc-mic-off:before {
  content: "\e0b5";
}
.hc-microphone:before {
  content: "\e0b6";
}
.hc-moon:before {
  content: "\e0b7";
}
.hc-more:before {
  content: "\e0b8";
}
.hc-move:before {
  content: "\e0b9";
}
.hc-musical-note:before {
  content: "\e0ba";
}
.hc-musical-notes:before {
  content: "\e0bb";
}
.hc-navigate:before {
  content: "\e0bc";
}
.hc-no-smoking:before {
  content: "\e0bd";
}
.hc-nodejs:before {
  content: "\e0be";
}
.hc-notifications:before {
  content: "\e0bf";
}
.hc-notifications-off:before {
  content: "\e0c0";
}
.hc-nuclear:before {
  content: "\e0c1";
}
.hc-nutrition:before {
  content: "\e0c2";
}
.hc-open:before {
  content: "\e0c3";
}
.hc-options:before {
  content: "\e0c4";
}
.hc-outlet:before {
  content: "\e0c5";
}
.hc-paper:before {
  content: "\e0c6";
}
.hc-paper-plane:before {
  content: "\e0c7";
}
.hc-partly-sunny:before {
  content: "\e0c8";
}
.hc-pause:before {
  content: "\e0c9";
}
.hc-paw:before {
  content: "\e0ca";
}
.hc-people:before {
  content: "\e0cb";
}
.hc-person:before {
  content: "\e0cc";
}
.hc-person-add:before {
  content: "\e0cd";
}
.hc-phone-landscape:before {
  content: "\e0ce";
}
.hc-phone-portrait:before {
  content: "\e0cf";
}
.hc-photos:before {
  content: "\e0d0";
}
.hc-pie:before {
  content: "\e0d1";
}
.hc-pin:before {
  content: "\e0d2";
}
.hc-pint:before {
  content: "\e0d3";
}
.hc-pizza:before {
  content: "\e0d4";
}
.hc-plane:before {
  content: "\e0d5";
}
.hc-planet:before {
  content: "\e0d6";
}
.hc-play-alt:before {
  content: "\e0d7";
}
.hc-podium:before {
  content: "\e0d8";
}
.hc-power:before {
  content: "\e0d9";
}
.hc-pricetag:before {
  content: "\e0da";
}
.hc-pricetags:before {
  content: "\e0db";
}
.hc-print:before {
  content: "\e0dc";
}
.hc-pulse:before {
  content: "\e0dd";
}
.hc-qr-scanner:before {
  content: "\e0de";
}
.hc-quote:before {
  content: "\e0df";
}
.hc-radio:before {
  content: "\e0e0";
}
.hc-radio-button-off:before {
  content: "\e0e1";
}
.hc-radio-button-on:before {
  content: "\e0e2";
}
.hc-rainy:before {
  content: "\e0e3";
}
.hc-recording:before {
  content: "\e0e4";
}
.hc-reddit:before {
  content: "\e0e5";
}
.hc-redo:before {
  content: "\e0e6";
}
.hc-refresh:before {
  content: "\e0e7";
}
.hc-refresh-circle:before {
  content: "\e0e8";
}
.hc-remove:before {
  content: "\e0e9";
}
.hc-remove-circle:before {
  content: "\e0ea";
}
.hc-reorder:before {
  content: "\e0eb";
}
.hc-repeat:before {
  content: "\e0ec";
}
.hc-resize:before {
  content: "\e0ed";
}
.hc-restaurant:before {
  content: "\e0ee";
}
.hc-return-left:before {
  content: "\e0ef";
}
.hc-return-right:before {
  content: "\e0f0";
}
.hc-reverse-camera:before {
  content: "\e0f1";
}
.hc-rewind:before {
  content: "\e0f2";
}
.hc-ribbon:before {
  content: "\e0f3";
}
.hc-rose:before {
  content: "\e0f4";
}
.hc-rss:before {
  content: "\e0f5";
}
.hc-sad:before {
  content: "\e0f6";
}
.hc-sass:before {
  content: "\e0f7";
}
.hc-school:before {
  content: "\e0f8";
}
.hc-search:before {
  content: "\e0f9";
}
.hc-send:before {
  content: "\e0fa";
}
.hc-settings:before {
  content: "\e0fb";
}
.hc-share:before {
  content: "\e0fc";
}
.hc-share-alt:before {
  content: "\e0fd";
}
.hc-shirt:before {
  content: "\e0fe";
}
.hc-shopping-bag:before {
  content: "\e0ff";
}
.hc-shuffle:before {
  content: "\e100";
}
.hc-skip-backward:before {
  content: "\e101";
}
.hc-skip-forward:before {
  content: "\e102";
}
.hc-snow:before {
  content: "\e103";
}
.hc-speedometer:before {
  content: "\e104";
}
.hc-square:before {
  content: "\e105";
}
.hc-star:before {
  content: "\e106";
}
.hc-stats:before {
  content: "\e109";
}
.hc-stopwatch:before {
  content: "\e10a";
}
.hc-subway:before {
  content: "\e10b";
}
.hc-sunny:before {
  content: "\e10c";
}
.hc-swap:before {
  content: "\e10d";
}
.hc-switch:before {
  content: "\e10e";
}
.hc-sync:before {
  content: "\e10f";
}
.hc-tablet-landscape:before {
  content: "\e110";
}
.hc-tablet-portrait:before {
  content: "\e111";
}
.hc-tennisball:before {
  content: "\e112";
}
.hc-text:before {
  content: "\e113";
}
.hc-thermometer:before {
  content: "\e114";
}
.hc-thumbs-down:before {
  content: "\e115";
}
.hc-thumbs-up:before {
  content: "\e116";
}
.hc-thunderstorm:before {
  content: "\e117";
}
.hc-time:before {
  content: "\e118";
}
.hc-timer:before {
  content: "\e119";
}
.hc-train:before {
  content: "\e11a";
}
.hc-transgender:before {
  content: "\e11b";
}
.hc-trash:before {
  content: "\e11c";
}
.hc-trending-down:before {
  content: "\e11d";
}
.hc-trending-up:before {
  content: "\e11e";
}
.hc-trophy:before {
  content: "\e11f";
}
.hc-umbrella:before {
  content: "\e120";
}
.hc-undo:before {
  content: "\e121";
}
.hc-unlock:before {
  content: "\e122";
}
.hc-usd:before {
  content: "\e123";
}
.hc-videocam:before {
  content: "\e124";
}
.hc-volume-down:before {
  content: "\e125";
}
.hc-volume-mute:before {
  content: "\e126";
}
.hc-volume-off:before {
  content: "\e127";
}
.hc-volume-up:before {
  content: "\e128";
}
.hc-walk:before {
  content: "\e129";
}
.hc-warning:before {
  content: "\e12a";
}
.hc-watch:before {
  content: "\e12b";
}
.hc-water:before {
  content: "\e12c";
}
.hc-wifi:before {
  content: "\e12d";
}
.hc-wine:before {
  content: "\e12e";
}
.hc-woman:before {
  content: "\e12f";
}
.hc-accelerator:before {
  content: "\e00c";
}
.hc-alarm-alt:before {
  content: "\e00d";
}
.hc-anchor:before {
  content: "\e016";
}
.hc-anticlockwise:before {
  content: "\e01b";
}
.hc-archive-alt:before {
  content: "\e107";
}
.hc-archive-full:before {
  content: "\e108";
}
.hc-arrow-down:before {
  content: "\e131";
}
.hc-arrow-left:before {
  content: "\e132";
}
.hc-arrow-right:before {
  content: "\e133";
}
.hc-arrow-up:before {
  content: "\e134";
}
.hc-bag:before {
  content: "\e135";
}
.hc-bag-check:before {
  content: "\e136";
}
.hc-bag-cloud:before {
  content: "\e137";
}
.hc-bag-download:before {
  content: "\e138";
}
.hc-bag-minus:before {
  content: "\e139";
}
.hc-bag-plus:before {
  content: "\e13a";
}
.hc-bag-refresh:before {
  content: "\e13b";
}
.hc-bag-remove:before {
  content: "\e13c";
}
.hc-bag-search:before {
  content: "\e13d";
}
.hc-bag-upload:before {
  content: "\e13e";
}
.hc-ban:before {
  content: "\e13f";
}
.hc-banknote:before {
  content: "\e140";
}
.hc-banknotes:before {
  content: "\e141";
}
.hc-basket-alt:before {
  content: "\e142";
}
.hc-basket-check:before {
  content: "\e143";
}
.hc-basket-cloud:before {
  content: "\e144";
}
.hc-basket-download:before {
  content: "\e145";
}
.hc-basket-minus:before {
  content: "\e146";
}
.hc-basket-plus:before {
  content: "\e147";
}
.hc-basket-refresh:before {
  content: "\e148";
}
.hc-basket-remove:before {
  content: "\e149";
}
.hc-basket-search:before {
  content: "\e14a";
}
.hc-basket-upload:before {
  content: "\e14b";
}
.hc-bath:before {
  content: "\e14c";
}
.hc-battery-charge:before {
  content: "\e14d";
}
.hc-battery-empty:before {
  content: "\e14e";
}
.hc-battery-full-alt:before {
  content: "\e14f";
}
.hc-battery-half:before {
  content: "\e150";
}
.hc-beginning-button:before {
  content: "\e151";
}
.hc-bell:before {
  content: "\e152";
}
.hc-bolt:before {
  content: "\e153";
}
.hc-book-alt:before {
  content: "\e154";
}
.hc-book-pen:before {
  content: "\e155";
}
.hc-book-pencil:before {
  content: "\e156";
}
.hc-bookmark-alt:before {
  content: "\e157";
}
.hc-calculator-alt:before {
  content: "\e158";
}
.hc-calendar-alt:before {
  content: "\e159";
}
.hc-cards-diamonds:before {
  content: "\e15a";
}
.hc-cards-hearts:before {
  content: "\e15b";
}
.hc-cart-alt:before {
  content: "\e15c";
}
.hc-cart-check:before {
  content: "\e15d";
}
.hc-cart-cloud:before {
  content: "\e15e";
}
.hc-cart-content:before {
  content: "\e15f";
}
.hc-cart-download:before {
  content: "\e160";
}
.hc-cart-minus:before {
  content: "\e161";
}
.hc-cart-plus:before {
  content: "\e162";
}
.hc-cart-refresh:before {
  content: "\e163";
}
.hc-cart-remove:before {
  content: "\e164";
}
.hc-cart-search:before {
  content: "\e165";
}
.hc-cart-upload:before {
  content: "\e166";
}
.hc-case:before {
  content: "\e167";
}
.hc-cd:before {
  content: "\e168";
}
.hc-cent:before {
  content: "\e169";
}
.hc-chronometer:before {
  content: "\e16a";
}
.hc-clessidre:before {
  content: "\e16b";
}
.hc-clock-alt:before {
  content: "\e16c";
}
.hc-clockwise:before {
  content: "\e16d";
}
.hc-cloud-alt:before {
  content: "\e16e";
}
.hc-clubs:before {
  content: "\e16f";
}
.hc-colon:before {
  content: "\e170";
}
.hc-compass-alt:before {
  content: "\e171";
}
.hc-creditcard:before {
  content: "\e172";
}
.hc-cup:before {
  content: "\e173";
}
.hc-diamond:before {
  content: "\e174";
}
.hc-diamonds:before {
  content: "\e175";
}
.hc-diapason:before {
  content: "\e176";
}
.hc-display:before {
  content: "\e177";
}
.hc-dollar:before {
  content: "\e178";
}
.hc-download-alt:before {
  content: "\e179";
}
.hc-eject-button:before {
  content: "\e17a";
}
.hc-end-button:before {
  content: "\e17b";
}
.hc-euro-alt:before {
  content: "\e17c";
}
.hc-exclamation:before {
  content: "\e17d";
}
.hc-eye-alt:before {
  content: "\e17e";
}
.hc-eye-closed:before {
  content: "\e17f";
}
.hc-fastforward-button:before {
  content: "\e180";
}
.hc-female-alt:before {
  content: "\e181";
}
.hc-flag-alt:before {
  content: "\e183";
}
.hc-floppydisk:before {
  content: "\e184";
}
.hc-folder-alt:before {
  content: "\e185";
}
.hc-folder-multiple:before {
  content: "\e186";
}
.hc-franc:before {
  content: "\e187";
}
.hc-gear:before {
  content: "\e188";
}
.hc-geolocalize:before {
  content: "\e189";
}
.hc-geolocalize-alt:before {
  content: "\e18a";
}
.hc-gift:before {
  content: "\e18b";
}
.hc-globe-alt:before {
  content: "\e18c";
}
.hc-graph:before {
  content: "\e18d";
}
.hc-graph-2:before {
  content: "\e18e";
}
.hc-graph-3:before {
  content: "\e18f";
}
.hc-graph-decrease:before {
  content: "\e190";
}
.hc-graph-increase:before {
  content: "\e191";
}
.hc-guarani:before {
  content: "\e192";
}
.hc-gunsight:before {
  content: "\e193";
}
.hc-hammer-alt:before {
  content: "\e194";
}
.hc-headphones:before {
  content: "\e195";
}
.hc-headset-alt:before {
  content: "\e196";
}
.hc-heart-alt:before {
  content: "\e197";
}
.hc-heart-broken:before {
  content: "\e198";
}
.hc-helm:before {
  content: "\e199";
}
.hc-home-alt:before {
  content: "\e19a";
}
.hc-info:before {
  content: "\e19b";
}
.hc-ipod:before {
  content: "\e19c";
}
.hc-joypad:before {
  content: "\e19d";
}
.hc-key-alt:before {
  content: "\e19e";
}
.hc-keyboard:before {
  content: "\e19f";
}
.hc-kips:before {
  content: "\e1a0";
}
.hc-laptop-alt:before {
  content: "\e1a1";
}
.hc-layers:before {
  content: "\e1a2";
}
.hc-layers-alt:before {
  content: "\e1a3";
}
.hc-life-buoy:before {
  content: "\e1a4";
}
.hc-lightbulb:before {
  content: "\e1a5";
}
.hc-link-alt:before {
  content: "\e1a6";
}
.hc-lira:before {
  content: "\e1a7";
}
.hc-lock-alt:before {
  content: "\e1a8";
}
.hc-lock-open:before {
  content: "\e1a9";
}
.hc-loudspeaker:before {
  content: "\e1aa";
}
.hc-magic-mouse:before {
  content: "\e1ab";
}
.hc-magnifier:before {
  content: "\e1ac";
}
.hc-magnifier-minus:before {
  content: "\e1ad";
}
.hc-magnifier-plus:before {
  content: "\e1ae";
}
.hc-mail-alt:before {
  content: "\e1af";
}
.hc-mail-multiple:before {
  content: "\e1b0";
}
.hc-mail-open-alt:before {
  content: "\e1b1";
}
.hc-mail-open-text:before {
  content: "\e1b2";
}
.hc-male-alt:before {
  content: "\e1b3";
}
.hc-map-alt:before {
  content: "\e1b4";
}
.hc-megaphone-alt:before {
  content: "\e1b5";
}
.hc-message:before {
  content: "\e1b6";
}
.hc-message-multiple:before {
  content: "\e1b7";
}
.hc-message-txt:before {
  content: "\e1b8";
}
.hc-microphone-alt:before {
  content: "\e1b9";
}
.hc-microphone-old:before {
  content: "\e1ba";
}
.hc-mixer-alt:before {
  content: "\e1bb";
}
.hc-money:before {
  content: "\e1bc";
}
.hc-mouse:before {
  content: "\e1bd";
}
.hc-mute:before {
  content: "\e1be";
}
.hc-naira:before {
  content: "\e1bf";
}
.hc-note-multiple:before {
  content: "\e1c0";
}
.hc-note-single:before {
  content: "\e1c1";
}
.hc-notebook:before {
  content: "\e1c2";
}
.hc-notebook-pen:before {
  content: "\e1c3";
}
.hc-notebook-pencil:before {
  content: "\e1c4";
}
.hc-paperplane:before {
  content: "\e1c5";
}
.hc-pause-button:before {
  content: "\e1c6";
}
.hc-pencil-ruler:before {
  content: "\e1c7";
}
.hc-pencil-ruler-pen:before {
  content: "\e1c8";
}
.hc-pesos:before {
  content: "\e1c9";
}
.hc-photo:before {
  content: "\e1ca";
}
.hc-picture:before {
  content: "\e1cb";
}
.hc-picture-multiple:before {
  content: "\e1cc";
}
.hc-pin-alt-2:before {
  content: "\e1cd";
}
.hc-pin-alt:before {
  content: "\e1ce";
}
.hc-play-button:before {
  content: "\e1cf";
}
.hc-playlist:before {
  content: "\e1d0";
}
.hc-postcard:before {
  content: "\e1d1";
}
.hc-postcard-multiple:before {
  content: "\e1d2";
}
.hc-pound:before {
  content: "\e1d3";
}
.hc-printer:before {
  content: "\e1d4";
}
.hc-question:before {
  content: "\e1d5";
}
.hc-radio-ghettoblaster:before {
  content: "\e1d6";
}
.hc-radio-portable:before {
  content: "\e1d7";
}
.hc-receipt:before {
  content: "\e1d8";
}
.hc-receipt-bath:before {
  content: "\e1d9";
}
.hc-receipt-cent:before {
  content: "\e1da";
}
.hc-receipt-dollar:before {
  content: "\e1db";
}
.hc-receipt-euro:before {
  content: "\e1dc";
}
.hc-receipt-franc:before {
  content: "\e1dd";
}
.hc-receipt-guarani:before {
  content: "\e1de";
}
.hc-receipt-kips:before {
  content: "\e1df";
}
.hc-receipt-lira:before {
  content: "\e1e0";
}
.hc-receipt-naira:before {
  content: "\e1e1";
}
.hc-receipt-pesos:before {
  content: "\e1e2";
}
.hc-receipt-pound:before {
  content: "\e1e3";
}
.hc-receipt-rublo:before {
  content: "\e1e4";
}
.hc-receipt-rupee:before {
  content: "\e1e5";
}
.hc-receipt-tugrik:before {
  content: "\e1e6";
}
.hc-receipt-won:before {
  content: "\e1e7";
}
.hc-receipt-yen:before {
  content: "\e1e8";
}
.hc-receipt-yen-alt:before {
  content: "\e1e9";
}
.hc-recept-colon:before {
  content: "\e1ea";
}
.hc-record:before {
  content: "\e1eb";
}
.hc-recordplayer:before {
  content: "\e1ec";
}
.hc-repeat-button:before {
  content: "\e1ed";
}
.hc-rewind-button:before {
  content: "\e1ee";
}
.hc-rss-alt:before {
  content: "\e1ef";
}
.hc-rublo:before {
  content: "\e1f0";
}
.hc-rupee:before {
  content: "\e1f1";
}
.hc-safe:before {
  content: "\e1f2";
}
.hc-sale:before {
  content: "\e1f3";
}
.hc-sales:before {
  content: "\e1f4";
}
.hc-server:before {
  content: "\e1f5";
}
.hc-server-alt:before {
  content: "\e1f6";
}
.hc-server-cloud:before {
  content: "\e1f7";
}
.hc-server-download:before {
  content: "\e1f8";
}
.hc-server-upload:before {
  content: "\e1f9";
}
.hc-settings-alt:before {
  content: "\e1fa";
}
.hc-share-alt-2:before {
  content: "\e1fb";
}
.hc-sheet:before {
  content: "\e1fc";
}
.hc-sheet-multiple:before {
  content: "\e1fd";
}
.hc-sheet-pen:before {
  content: "\e1fe";
}
.hc-sheet-pencil:before {
  content: "\e1ff";
}
.hc-shuffle-button:before {
  content: "\e200";
}
.hc-signs:before {
  content: "\e201";
}
.hc-smartphone:before {
  content: "\e202";
}
.hc-spades:before {
  content: "\e203";
}
.hc-spread:before {
  content: "\e204";
}
.hc-spread-bookmark:before {
  content: "\e205";
}
.hc-spread-text:before {
  content: "\e206";
}
.hc-spread-text-bookmark:before {
  content: "\e207";
}
.hc-stop-button:before {
  content: "\e209";
}
.hc-tablet:before {
  content: "\e20a";
}
.hc-tape:before {
  content: "\e20b";
}
.hc-target:before {
  content: "\e20c";
}
.hc-ticket:before {
  content: "\e20d";
}
.hc-todo:before {
  content: "\e20e";
}
.hc-todo-pen:before {
  content: "\e20f";
}
.hc-todo-pencil:before {
  content: "\e210";
}
.hc-todo-txt:before {
  content: "\e211";
}
.hc-todolist-pen:before {
  content: "\e212";
}
.hc-todolist-pencil:before {
  content: "\e213";
}
.hc-trashcan:before {
  content: "\e214";
}
.hc-trashcan-full:before {
  content: "\e215";
}
.hc-trashcan-refresh:before {
  content: "\e216";
}
.hc-trashcan-remove:before {
  content: "\e217";
}
.hc-tugriks:before {
  content: "\e218";
}
.hc-upload:before {
  content: "\e219";
}
.hc-usb:before {
  content: "\e21a";
}
.hc-video:before {
  content: "\e21b";
}
.hc-volume-down-alt:before {
  content: "\e21c";
}
.hc-wallet:before {
  content: "\e21d";
}
.hc-watch-alt:before {
  content: "\e21e";
}
.hc-webpage:before {
  content: "\e21f";
}
.hc-webpage-img-txt:before {
  content: "\e220";
}
.hc-webpage-multiple:before {
  content: "\e221";
}
.hc-webpage-txt:before {
  content: "\e222";
}
.hc-won:before {
  content: "\e223";
}
.hc-world:before {
  content: "\e224";
}
.hc-yen:before {
  content: "\e225";
}
.hc-yen-alt:before {
  content: "\e226";
}
.hc-play:before {
  content: "\e227";
}
.hc-vine:before {
  content: "\e228";
}
.hc-paypal:before {
  content: "\e229";
}
.hc-stackoverflow:before {
  content: "\e22a";
}
.hc-airbnb:before {
  content: "\e22b";
}
.hc-periscope:before {
  content: "\e22c";
}
.hc-tripadvisor:before {
  content: "\e22d";
}
.hc-disqus:before {
  content: "\e22e";
}
.hc-vk:before {
  content: "\e22f";
}
.hc-whatsapp:before {
  content: "\e230";
}
.hc-patreon:before {
  content: "\e231";
}
.hc-blogger:before {
  content: "\e232";
}
.hc-dribbble:before {
  content: "\e233";
}
.hc-stumbleupon:before {
  content: "\e234";
}
.hc-digg:before {
  content: "\e235";
}
.hc-envato:before {
  content: "\e236";
}
.hc-behance:before {
  content: "\e237";
}
.hc-google-play:before {
  content: "\e238";
}
.hc-wikipedia:before {
  content: "\e239";
}
.hc-apple:before {
  content: "\e23a";
}
.hc-github:before {
  content: "\e23b";
}
.hc-steam:before {
  content: "\e23c";
}
.hc-xbox:before {
  content: "\e23d";
}
.hc-meetup:before {
  content: "\e23e";
}
.hc-playstation:before {
  content: "\e23f";
}
.hc-android:before {
  content: "\e240";
}
.hc-snapchat:before {
  content: "\e241";
}
.hc-twitter:before {
  content: "\e242";
}
.hc-facebook:before {
  content: "\e243";
}
.hc-google-plus:before {
  content: "\e244";
}
.hc-pinterest:before {
  content: "\e245";
}
.hc-foursquare:before {
  content: "\e246";
}
.hc-yahoo:before {
  content: "\e247";
}
.hc-skype:before {
  content: "\e248";
}
.hc-linkedin:before {
  content: "\e249";
}
.hc-xing:before {
  content: "\e24a";
}
.hc-myspace:before {
  content: "\e24b";
}
.hc-soundcloud:before {
  content: "\e24c";
}
.hc-spotify:before {
  content: "\e24d";
}
.hc-youtube:before {
  content: "\e24e";
}
.hc-lastfm:before {
  content: "\e24f";
}
.hc-vimeo:before {
  content: "\e250";
}
.hc-flickr:before {
  content: "\e251";
}
.hc-500px:before {
  content: "\e252";
}
.hc-wordpress:before {
  content: "\e253";
}
.hc-tumblr:before {
  content: "\e254";
}
.hc-twitch:before {
  content: "\e255";
}
.hc-amazon:before {
  content: "\e256";
}
.hc-angellist:before {
  content: "\e257";
}
.hc-ebay:before {
  content: "\e258";
}
.hc-imdb:before {
  content: "\e259";
}
.hc-google:before {
  content: "\e25a";
}
.hc-medium:before {
  content: "\e25b";
}
.hc-instagram:before {
  content: "\e25c";
}
.hc-lyft:before {
  content: "\e25d";
}
.hc-uber:before {
  content: "\e25e";
}
.hc-quora:before {
  content: "\e25f";
}
