<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Bezel | Creative Multi-Purpose HTML Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="stylesheet" href="css/bundle.css">
    <link rel="stylesheet" href="css/hody-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700|Source+Sans+Pro:300,400|Kaushan+Script|Lora|Playfair+Display:700" rel="stylesheet" type="text/css">
  </head>

  <body>
    <!-- Preloader-->
    <div id="loader">
      <div class="centrize">
        <div class="v-center">
          <div id="mask">
            <svg class="preloader-icon" width="34" height="38" viewbox="0 0 34 38">
              <path class="preloader-path" stroke-dashoffset="0" d="M29.437 8.114L19.35 2.132c-1.473-.86-3.207-.86-4.68 0L4.153 8.114C2.68 8.974 1.5 10.56 1.5 12.28v11.964c0 1.718 1.22 3.306 2.69 4.165l10.404 5.98c1.47.86 3.362.86 4.834 0l9.97-5.98c1.472-.86 2.102-2.45 2.102-4.168V12.28c0-1.72-.59-3.306-2.063-4.166z"></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <!-- End Preloader-->
    <div id="wrapper">
      <nav id="navbar">
        <div class="navbar-wrapper">
          <div class="container">
            <div class="logo">
              <a href="index.html">
                <img class="logo-light" src="images/logo-light.png" alt="">
                <img class="logo-dark" src="images/logo-dark.png" alt="">
              </a>
            </div>
            <div class="menu-extras">
              <div class="menu-item">
                <div class="header-socials">
                  <ul>
                    <li><a target="_blank" href="#"><i class="hc-facebook"></i></a>
                    </li>
                    <li><a target="_blank" href="#"><i class="hc-twitter"></i></a>
                    </li>
                    <li><a target="_blank" href="#"><i class="hc-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="menu-item">
                <div class="nav-toggle">
                  <a class="menu-toggle" href="#">
                    <div class="hamburger">
                      <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div id="navigation">
              <ul class="navigation-menu nav">
                <li class="menu-item-has-children has-megamenu">
                  <a href="#">Home</a>
                  <ul class="submenu megamenu">
                    <li class="menu-item-has-children">
                      <a class="menu-label" href="#">Home Pages I</a>
                      <ul class="sub-menu">
                        <li>
                          <a href="index.html">Home Default</a>
                        </li>
                        <li>
                          <a href="home-digital-agency.html">Home Digital Agency</a>
                        </li>
                        <li>
                          <a href="home-creative-agency.html">Home Creative Agency</a>
                        </li>
                        <li>
                          <a href="home-minimal.html">Home Minimal</a>
                        </li>
                        <li>
                          <a href="home-business.html">Home Business</a>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <a class="menu-label" href="#">Home Pages II</a>
                      <ul class="sub-menu">
                        <li>
                          <a href="home-landing.html">Home Landing</a>
                        </li>
                        <li>
                          <a href="home-architecture.html">Home Architecture</a>
                        </li>
                        <li>
                          <a href="home-photography.html">Home Photography</a>
                        </li>
                        <li>
                          <a href="home-resume.html">Home Resume</a>
                        </li>
                        <li>
                          <a href="home-fitness.html">Home Fitness</a>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <a class="menu-label" href="#">Home Pages III</a>
                      <ul class="sub-menu">
                        <li>
                          <a href="home-portfolio.html">Home Portfolio</a>
                        </li>
                        <li>
                          <a href="home-fashion.html">Home Fashion</a>
                        </li>
                        <li>
                          <a href="home-one-page.html">Home One Page</a>
                        </li>
                        <li>
                          <a href="home-restaurant.html">Home Restaurant</a>
                        </li>
                        <li>
                          <a href="home-startup.html">Home Startup</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="menu-item-has-children"><a href="#">Pages</a>
                  <ul class="submenu">
                    <li>
                      <a href="page-about.html">About Us</a>
                    </li>
                    <li>
                      <a href="page-about-creative.html">About - Creative</a>
                    </li>
                    <li>
                      <a href="page-services.html">Services</a>
                    </li>
                    <li>
                      <a href="page-contact.html">Contact</a>
                    </li>
                    <li>
                      <a href="page-careers.html">Careers</a>
                    </li>
                    <li>
                      <a href="page-404.html">404 Page</a>
                    </li>
                  </ul>
                </li>
                <li class="menu-item-has-children"><a href="#">Portfolio</a>
                  <ul class="submenu">
                    <li class="menu-item-has-children">
                      <a href="#">Masonry</a>
                      <ul class="submenu">
                        <li>
                          <a href="portfolio-masonry-2col.html">Two Columns</a>
                        </li>
                        <li>
                          <a href="portfolio-masonry.html">Three Columns</a>
                        </li>
                        <li>
                          <a href="portfolio-masonry-4col.html">Four Columns</a>
                        </li>
                        <li>
                          <a href="portfolio-masonry-full.html">Full Width</a>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="#">Grid</a>
                      <ul class="submenu">
                        <li>
                          <a href="portfolio-grid-2col.html">Two Columns</a>
                        </li>
                        <li>
                          <a href="portfolio-grid.html">Three Columns</a>
                        </li>
                        <li>
                          <a href="portfolio-grid-4col.html">Four Columns</a>
                        </li>
                        <li>
                          <a href="portfolio-grid-full.html">Full Width</a>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="#">Titles Outside</a>
                      <ul class="submenu">
                        <li>
                          <a href="portfolio-titles-2col.html">Two Columns</a>
                        </li>
                        <li>
                          <a href="portfolio-titles.html">Three Columns</a>
                        </li>
                        <li>
                          <a href="portfolio-titles-4col.html">Four Columns</a>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="#">Single Work</a>
                      <ul class="submenu">
                        <li>
                          <a href="portfolio-single-1.html">Single Work 1</a>
                        </li>
                        <li>
                          <a href="portfolio-single-2.html">Single Work 2</a>
                        </li>
                        <li>
                          <a href="portfolio-single-3.html">Single Work 3</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="menu-item-has-children"><a href="#">Blog</a>
                  <ul class="submenu">
                    <li class="menu-item-has-children">
                      <a href="#">Grid</a>
                      <ul class="submenu">
                        <li>
                          <a href="blog-grid.html">Standard Grid</a>
                        </li>
                        <li>
                          <a href="blog-grid-sidebar.html">Sidebar Grid</a>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="#">Standard</a>
                      <ul class="submenu">
                        <li>
                          <a href="blog.html">Standard Layout</a>
                        </li>
                        <li>
                          <a href="blog-sidebar.html">Sidebar Layout</a>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="#">Single Post</a>
                      <ul class="submenu">
                        <li>
                          <a href="blog-single.html">Standard Post</a>
                        </li>
                        <li>
                          <a href="blog-single-sidebar.html">Sidebar Post</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="menu-item-has-children has-megamenu">
                  <a href="#">Elements</a>
                  <ul class="submenu megamenu">
                    <li><a class="menu-label" href="#">Group 1</a>
                      <ul class="sub-menu">
                        <li>
                          <a href="elements-accordions.html">Accordions</a>
                        </li>
                        <li>
                          <a href="elements-buttons.html">Buttons</a>
                        </li>
                        <li>
                          <a href="elements-carousels.html">Carousels</a>
                        </li>
                        <li>
                          <a href="elements-forms.html">Forms</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="menu-label" href="#">Group 2</a>
                      <ul class="sub-menu">
                        <li>
                          <a href="elements-icons.html">Icons</a>
                        </li>
                        <li>
                          <a href="elements-icon-boxes.html">Icon Boxes</a>
                        </li>
                        <li>
                          <a href="elements-message-boxes.html">Message Boxes</a>
                        </li>
                        <li>
                          <a href="elements-pricing-tables.html">Pricing Tables</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="menu-label" href="#">Group 3</a>
                      <ul class="sub-menu">
                        <li>
                          <a href="elements-progress-bars.html">Progress Bars</a>
                        </li>
                        <li>
                          <a href="elements-galleries.html">Image Galleries</a>
                        </li>
                        <li>
                          <a href="elements-tabs.html">Tabs</a>
                        </li>
                        <li>
                          <a href="elements-typography.html">Typography</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="menu-item-has-children"><a href="#">Shop</a>
                  <ul class="submenu">
                    <li>
                      <a href="shop.html">Products</a>
                    </li>
                    <li>
                      <a href="shop-single.html">Single Product</a>
                    </li>
                    <li>
                      <a href="shop-cart.html">Cart</a>
                    </li>
                    <li>
                      <a href="shop-checkout.html">Checkout</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <section class="page-title parallax-section text-dark">
        <div class="row-parallax-bg">
          <div class="parallax-wrapper">
            <div class="parallax-bg">
              <img src="images/bg-image-55.jpg" alt="">
            </div>
          </div>
          <div class="parallax-overlay"></div>
        </div>
        <div class="centrize">
          <div class="v-center">
            <div class="container">
              <div class="title text-center">
                <h1>Buttons</h1>
                <h4>A complete list of elements.</h4>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="row text-center">
            <div class="col-sm-4">
              <div class="title txt-xs-center">
                <h5>Normal</h5>
              </div>
              <div class="btn-container mb-15 mb-15"><a class="btn btn-color btn-sm" href="#">Button</a>
              </div>
              <div class="btn-container mb-15 mb-15"><a class="btn btn-color" href="#">Button</a>
              </div>
              <div class="btn-container mb-15 mb-15"><a class="btn btn-color btn-lg" href="#">Button</a>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="title txt-xs-center">
                <h5>Outlined</h5>
              </div>
              <div class="btn-container mb-15"><a class="btn btn-color-out upper no-radius btn-sm" href="#">Button</a>
              </div>
              <div class="btn-container mb-15"><a class="btn btn-color-out upper no-radius" href="#">Button</a>
              </div>
              <div class="btn-container mb-15"><a class="btn btn-color-out upper no-radius btn-lg" href="#">Button</a>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="title txt-xs-center">
                <h5>With Icon</h5>
              </div>
              <div class="btn-container mb-15"><a class="btn btn-color btn-round btn-sm" href="#">Button<i class="hc-shopping-bag"></i></a>
              </div>
              <div class="btn-container mb-15"><a class="btn btn-color btn-round" href="#">Button<i class="hc-shopping-bag"></i></a>
              </div>
              <div class="btn-container mb-15"><a class="btn btn-color btn-round btn-lg" href="#">Button<i class="hc-shopping-bag"></i></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="dark-bg">
        <div class="container">
          <div class="row text-center">
            <div class="col-sm-4">
              <div class="title txt-xs-center">
                <h5>Normal</h5>
              </div>
              <div class="btn-container mb-15"><a class="btn btn-light btn-sm" href="#">Button</a>
              </div>
              <div class="btn-container mb-15"><a class="btn btn-light" href="#">Button</a>
              </div>
              <div class="btn-container mb-15"><a class="btn btn-light btn-lg" href="#">Button</a>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="title txt-xs-center">
                <h5>Outlined</h5>
              </div>
              <div class="btn-container mb-15"><a class="btn btn-light-out upper no-radius btn-sm" href="#">Button</a>
              </div>
              <div class="btn-container mb-15"><a class="btn btn-light-out upper no-radius" href="#">Button</a>
              </div>
              <div class="btn-container mb-15"><a class="btn btn-light-out upper no-radius btn-lg" href="#">Button</a>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="title txt-xs-center">
                <h5>With Icon</h5>
              </div>
              <div class="btn-container mb-15"><a class="btn btn-light btn-round btn-sm" href="#">Button<i class="hc-shopping-bag"></i></a>
              </div>
              <div class="btn-container mb-15"><a class="btn btn-light btn-round" href="#">Button<i class="hc-shopping-bag"></i></a>
              </div>
              <div class="btn-container mb-15"><a class="btn btn-light btn-round btn-lg" href="#">Button<i class="hc-shopping-bag"></i></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="row text-center">
            <div class="col-sm-4">
              <div class="title txt-xs-center">
                <h5>Normal</h5>
              </div>
              <div class="btn-container mb-15"><a class="btn btn-dark btn-sm" href="#">Button</a>
              </div>
              <div class="btn-container mb-15"><a class="btn btn-dark" href="#">Button</a>
              </div>
              <div class="btn-container mb-15"><a class="btn btn-dark btn-lg" href="#">Button</a>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="title txt-xs-center">
                <h5>Outlined</h5>
              </div>
              <div class="btn-container mb-15"><a class="btn btn-dark-out upper no-radius btn-sm" href="#">Button</a>
              </div>
              <div class="btn-container mb-15"><a class="btn btn-dark-out upper no-radius" href="#">Button</a>
              </div>
              <div class="btn-container mb-15"><a class="btn btn-dark-out upper no-radius btn-lg" href="#">Button</a>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="title txt-xs-center">
                <h5>With Icon</h5>
              </div>
              <div class="btn-container mb-15"><a class="btn btn-dark btn-round btn-sm" href="#">Button<i class="hc-shopping-bag"></i></a>
              </div>
              <div class="btn-container mb-15"><a class="btn btn-dark btn-round" href="#">Button<i class="hc-shopping-bag"></i></a>
              </div>
              <div class="btn-container mb-15"><a class="btn btn-dark btn-round btn-lg" href="#">Button<i class="hc-shopping-bag"></i></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer id="footer">
        <div class="footer-widgets">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="widget">
                  <figure class="footer-logo mb-15">
                    <img src="images/logo-dark.png" alt="">
                  </figure>
                  <div class="textwidget">
                    <p>
                      387 Madison Ave
                      <br>New York, NY 10118</p>
                    <p>hello@bezel.co
                      <br>+1 301-736-4321</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="widget">
                  <h5>The Company</h5>
                  <div class="menu-footer">
                    <ul>
                      <li><a href="#">About Us</a>
                      </li>
                      <li><a href="#">What We Do</a>
                      </li>
                      <li><a href="#">Our Vision</a>
                      </li>
                      <li><a href="#">Portfolio</a>
                      </li>
                      <li><a href="#">Careers</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="widget">
                  <h5>Recent Posts</h5>
                  <div class="menu-footer">
                    <ul>
                      <li><a href="#">You Can’t Handle Truth</a>
                      </li>
                      <li><a href="#">How To Add Value To Your Life</a>
                      </li>
                      <li><a href="#">A Letter to My 12-Year-Old Self</a>
                      </li>
                      <li><a href="#">Weak Words Kill Experiences</a>
                      </li>
                      <li><a href="#">An Almost Static Stack</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="widget">
                  <h5>Popular Tags</h5>
                  <div class="tagcloud"><a href="#">Business</a><a href="#">Design</a><a href="#">Development</a><a href="#">Inspiration</a><a href="#">Lifestyle</a><a href="#">Tips</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-copy">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <ul class="social-list">
                  <li class="social-item-linkedin"><a target="_blank" href="#"><i class="hc-linkedin"></i></a>
                  </li>
                  <li class="social-item-facebook"><a target="_blank" href="#"><i class="hc-facebook"></i></a>
                  </li>
                  <li class="social-item-twitter"><a target="_blank" href="#"><i class="hc-twitter"></i></a>
                  </li>
                  <li class="social-item-pinterest"><a target="_blank" href="#"><i class="hc-pinterest"></i></a>
                  </li>
                  <li class="social-item-instagram"><a target="_blank" href="#"><i class="hc-instagram"></i></a>
                  </li>
                </ul>
              </div>
              <div class="col-sm-6">
                <div class="copy-text">
                  <p>© 2017 Bezel. All rights reserved.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bundle.js"></script>
    <script type="text/javascript" src="js/SmoothScroll.js"></script>
    <script type="text/javascript" src="js/jquery.mb.YTPlayer.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNGOsBBZo9vf0Tw4w6aJiilSTFVfQ5GPI"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>

</html>