<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Bezel | Creative Multi-Purpose HTML Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="stylesheet" href="css/bundle.css">
    <link rel="stylesheet" href="css/hody-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700|Source+Sans+Pro:300,400|Kaushan+Script|Lora|Playfair+Display:700" rel="stylesheet" type="text/css">
  </head>

  <body>
    <!-- Preloader-->
    <div id="loader">
      <div class="centrize">
        <div class="v-center">
          <div id="mask">
            <svg class="preloader-icon" width="34" height="38" viewbox="0 0 34 38">
              <path class="preloader-path" stroke-dashoffset="0" d="M29.437 8.114L19.35 2.132c-1.473-.86-3.207-.86-4.68 0L4.153 8.114C2.68 8.974 1.5 10.56 1.5 12.28v11.964c0 1.718 1.22 3.306 2.69 4.165l10.404 5.98c1.47.86 3.362.86 4.834 0l9.97-5.98c1.472-.86 2.102-2.45 2.102-4.168V12.28c0-1.72-.59-3.306-2.063-4.166z"></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <!-- End Preloader-->
    <div id="wrapper">
      <nav class="dark-menu" id="navbar">
        <div class="navbar-wrapper">
          <div class="container">
            <div class="logo">
              <a href="index.html">
                <img class="logo-light" src="images/logo-light.png" alt="">
                <img class="logo-dark" src="images/logo-dark.png" alt="">
              </a>
            </div>
            <div class="menu-extras">
              <div class="menu-item">
                <div class="header-socials">
                  <ul>
                    <li><a target="_blank" href="#"><i class="hc-facebook"></i></a>
                    </li>
                    <li><a target="_blank" href="#"><i class="hc-twitter"></i></a>
                    </li>
                    <li><a target="_blank" href="#"><i class="hc-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="menu-item">
                <div class="nav-toggle">
                  <a class="menu-toggle" href="#">
                    <div class="hamburger">
                      <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div id="navigation">
              <ul class="navigation-menu nav">
                <li><a href="#home" data-scroll="true">Home</a>
                </li>
                <li><a href="#about" data-scroll="true">About</a>
                </li>
                <li><a href="#classes" data-scroll="true">Classes</a>
                </li>
                <li><a href="#schedule" data-scroll="true">Schedule</a>
                </li>
                <li><a href="#contact" data-scroll="true">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <section id="home">
        <div id="home-slider">
          <div class="slide-item">
            <img src="images/bg-image-31.jpg" alt="">
            <div class="slide-wrap">
              <div class="slide-content">
                <div class="container">
                  <h1 class="font-small">Powerful Workout</h1>
                  <h4>Learn the secrets of gym success.</h4>
                  <p><a class="btn btn-light upper no-radius" href="#">Get Started</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="p-0" id="about">
        <div class="container-fluid">
          <div class="row row-flex flex-center">
            <div class="col-md-4 col-sm-12">
              <div class="column-inner with-padding">
                <div class="title">
                  <h3>Welcome to the best <span data-custom-color="#11a7f3">fitness club</span> in London. A space where the talent meets the skills.</h3>
                </div>
                <div class="inline-icon-btn"><a class="btn btn-custom btn-circle btn-sm" href="#" data-custom-bg="#f42841"><i class="hc-play"></i></a>
                  <h5>Watch The Video</h5>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <img class="thumb-placeholder" src="images/fitness-1.jpg" alt="">
            </div>
            <div class="col-md-4 col-sm-6 dark-bg">
              <div class="column-inner with-padding">
                <div class="title">
                  <h3>Reach your goals.</h3>
                </div>
                <div class="section-content">
                  <ul class="check-list white-skin">
                    <li data-animation="fadeInRight">Yoga</li>
                    <li data-animation="fadeInRight">Cardio</li>
                    <li data-animation="fadeInRight">Crossfit</li>
                    <li data-animation="fadeInRight">Functional Training</li>
                    <li data-animation="fadeInRight">Crunch</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row row-flex flex-center">
            <div class="col-md-4 col-sm-6 visible-md visible-lg">
              <img class="thumb-placeholder" src="images/fitness-2.jpg" alt="">
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="column-inner with-padding">
                <div class="title"><i class="hc-bicycle"></i>
                  <h2>Our <span data-custom-color="#11a7f3">Story</span></h2>
                </div>
                <div class="section-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, similique enim labore quos atque? Quaerat officiis itaque quia ipsam eveniet sunt dolorem, similique, rem totam quod deleniti suscipit, debitis, impedit.</p>
                  <p class="mt-15"><a class="btn btn-custom upper no-radius" href="#" data-custom-bg="#f42841">Make An Appointment</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 flex-order-sm-2">
              <img class="thumb-placeholder" src="images/fitness-3.jpg" alt="">
            </div>
          </div>
        </div>
      </section>
      <section id="classes">
        <div class="container">
          <div class="title text-center">
            <h2 data-bigletter="T">The Classes</h2>
            <h4>Follow our trainers tips.</h4>
          </div>
          <div class="section-content pt-25 pb-25">
            <div class="row">
              <div class="col-md-4">
                <div class="image-box" data-animation="fadeInUp">
                  <img src="images/fitness-4.jpg" alt="">
                  <div class="image-overlay" data-custom-bg="#11a7f3">
                    <div class="centrize">
                      <div class="v-bottom">
                        <div class="title mb-15">
                          <h3>Crossfit</h3>
                        </div>
                        <div class="inline-icon-btn"><a class="btn btn-light-out btn-circle btn-xs" href="#"><i class="hc-play"></i></a>
                          <h5>Watch Trailer</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="image-box" data-animation="fadeInUp" data-delay="300">
                  <img src="images/fitness-5.jpg" alt="">
                  <div class="image-overlay" data-custom-bg="#f42841">
                    <div class="centrize">
                      <div class="v-bottom">
                        <div class="title mb-15">
                          <h3>Body Building</h3>
                        </div>
                        <div class="inline-icon-btn"><a class="btn btn-light-out btn-circle btn-xs" href="#"><i class="hc-play"></i></a>
                          <h5>Watch Trailer</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="image-box" data-animation="fadeInUp" data-delay="600">
                  <img src="images/fitness-6.jpg" alt="">
                  <div class="image-overlay" data-custom-bg="#0ee0c9">
                    <div class="centrize">
                      <div class="v-bottom">
                        <div class="title mb-15">
                          <h3>Aerobics</h3>
                        </div>
                        <div class="inline-icon-btn"><a class="btn btn-light-out btn-circle btn-xs" href="#"><i class="hc-play"></i></a>
                          <h5>Watch Trailer</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="parallax-section">
        <div class="row-parallax-bg">
          <div class="parallax-wrapper">
            <div class="parallax-bg">
              <img src="images/bg-image-32.jpg" alt="">
            </div>
            <div class="parallax-overlay semilight-overlay"></div>
          </div>
        </div>
        <div class="container">
          <div class="row pt-50 pb-50">
            <div class="col-md-5">
              <blockquote>
                <h3 class="alt-serif-font">"The purpose of training is to tighten up the slack, toughen the body, and polish the spirit."</h3>
                <footer>Morihei Ueshiba</footer>
              </blockquote>
            </div>
          </div>
        </div>
      </section>
      <section id="schedule">
        <div class="container">
          <div class="title text-center">
            <h2 data-bigletter="W">Weekly Schedule</h2>
          </div>
          <div class="section-content pb-25 pt-25">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <ul class="nav nav-tabs boxed-tabs center-tabs cols-3 red-skin">
                  <li class="active"><a href="#tab-1" data-toggle="tab"><span>Monday</span></a>
                  </li>
                  <li><a href="#tab-2" data-toggle="tab"><span>Wednesday</span></a>
                  </li>
                  <li><a href="#tab-3" data-toggle="tab"><span>Friday</span></a>
                  </li>
                </ul>
                <div class="tab-content text-center">
                  <div class="tab-pane fade active in" id="tab-1">
                    <ul class="menu-list">
                      <li>
                        <div class="menu-content">
                          <h4><span class="menu-title">Boxing</span><span class="menu-value">4:00pm - 5:00pm</span></h4>
                          <p class="menu-text">Sit aliquam quae nihil quisquam possimus. Non sit repellat deleniti.</p>
                        </div>
                      </li>
                      <li>
                        <div class="menu-content">
                          <h4><span class="menu-title">Yoga</span><span class="menu-value">5:00pm - 6:00pm</span></h4>
                          <p class="menu-text">Sit aliquam quae nihil quisquam possimus. Non sit repellat deleniti.</p>
                        </div>
                      </li>
                      <li>
                        <div class="menu-content">
                          <h4><span class="menu-title">Weight Training</span><span class="menu-value">6:00pm - 7:00pm</span></h4>
                          <p class="menu-text">Sit aliquam quae nihil quisquam possimus. Non sit repellat deleniti.</p>
                        </div>
                      </li>
                      <li>
                        <div class="menu-content">
                          <h4><span class="menu-title">Cardio</span><span class="menu-value">7:00pm - 8:00pm</span></h4>
                          <p class="menu-text">Sit aliquam quae nihil quisquam possimus. Non sit repellat deleniti.</p>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="tab-pane fade" id="tab-2">
                    <ul class="menu-list">
                      <li>
                        <div class="menu-content">
                          <h4><span class="menu-title">Yoga</span><span class="menu-value">4:00pm - 5:00pm</span></h4>
                          <p class="menu-text">Sit aliquam quae nihil quisquam possimus. Non sit repellat deleniti.</p>
                        </div>
                      </li>
                      <li>
                        <div class="menu-content">
                          <h4><span class="menu-title">Body Building</span><span class="menu-value">5:00pm - 6:00pm</span></h4>
                          <p class="menu-text">Sit aliquam quae nihil quisquam possimus. Non sit repellat deleniti.</p>
                        </div>
                      </li>
                      <li>
                        <div class="menu-content">
                          <h4><span class="menu-title">Crossfit</span><span class="menu-value">6:00pm - 7:00pm</span></h4>
                          <p class="menu-text">Sit aliquam quae nihil quisquam possimus. Non sit repellat deleniti.</p>
                        </div>
                      </li>
                      <li>
                        <div class="menu-content">
                          <h4><span class="menu-title">Aerobics</span><span class="menu-value">7:00pm - 8:00pm</span></h4>
                          <p class="menu-text">Sit aliquam quae nihil quisquam possimus. Non sit repellat deleniti.</p>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="tab-pane fade" id="tab-3">
                    <ul class="menu-list">
                      <li>
                        <div class="menu-content">
                          <h4><span class="menu-title">Karate</span><span class="menu-value">4:00pm - 5:00pm</span></h4>
                          <p class="menu-text">Sit aliquam quae nihil quisquam possimus. Non sit repellat deleniti.</p>
                        </div>
                      </li>
                      <li>
                        <div class="menu-content">
                          <h4><span class="menu-title">Weight Training</span><span class="menu-value">5:00pm - 6:00pm</span></h4>
                          <p class="menu-text">Sit aliquam quae nihil quisquam possimus. Non sit repellat deleniti.</p>
                        </div>
                      </li>
                      <li>
                        <div class="menu-content">
                          <h4><span class="menu-title">Running</span><span class="menu-value">6:00pm - 7:00pm</span></h4>
                          <p class="menu-text">Sit aliquam quae nihil quisquam possimus. Non sit repellat deleniti.</p>
                        </div>
                      </li>
                      <li>
                        <div class="menu-content">
                          <h4><span class="menu-title">Yoga</span><span class="menu-value">7:00pm - 8:00pm</span></h4>
                          <p class="menu-text">Sit aliquam quae nihil quisquam possimus. Non sit repellat deleniti.</p>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div id="footer">
        <section class="colored-bg" data-custom-bg="#f42841">
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <div class="icon-box align-center"><i class="hc-pin"></i>
                  <div class="ib-content">
                    <h4 class="upper">Visit Us</h4>
                    <p>An ispiring place for you.</p><a class="arrow-link" href="#">Open Map</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="icon-box align-center"><i class="hc-calendar"></i>
                  <div class="ib-content">
                    <h4 class="upper">Book a Session</h4>
                    <p>The first session is free.</p><a class="arrow-link" href="#">Book Now</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="icon-box align-center"><i class="hc-help-buoy"></i>
                  <div class="ib-content">
                    <h4 class="upper">Any Question?</h4>
                    <p>Contact our customer support.</p><a class="arrow-link" href="#">Send Email</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bundle.js"></script>
    <script type="text/javascript" src="js/SmoothScroll.js"></script>
    <script type="text/javascript" src="js/jquery.mb.YTPlayer.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNGOsBBZo9vf0Tw4w6aJiilSTFVfQ5GPI"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>

</html>