<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Bezel | Creative Multi-Purpose HTML Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="stylesheet" href="css/bundle.css">
    <link rel="stylesheet" href="css/hody-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700|Source+Sans+Pro:300,400|Kaushan+Script|Lora|Playfair+Display:700" rel="stylesheet" type="text/css">
  </head>

  <body>
    <!-- Preloader-->
    <div id="loader">
      <div class="centrize">
        <div class="v-center">
          <div id="mask">
            <svg class="preloader-icon" width="34" height="38" viewbox="0 0 34 38">
              <path class="preloader-path" stroke-dashoffset="0" d="M29.437 8.114L19.35 2.132c-1.473-.86-3.207-.86-4.68 0L4.153 8.114C2.68 8.974 1.5 10.56 1.5 12.28v11.964c0 1.718 1.22 3.306 2.69 4.165l10.404 5.98c1.47.86 3.362.86 4.834 0l9.97-5.98c1.472-.86 2.102-2.45 2.102-4.168V12.28c0-1.72-.59-3.306-2.063-4.166z"></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <!-- End Preloader-->
    <div id="wrapper">
      <nav id="navbar">
        <div class="navbar-wrapper">
          <div class="container">
            <div class="logo">
              <a href="index.html">
                <img class="logo-light" src="images/logo-light.png" alt="">
                <img class="logo-dark" src="images/logo-dark.png" alt="">
              </a>
            </div>
            <div class="menu-extras">
              <div class="menu-item">
                <div class="header-socials">
                  <ul>
                    <li><a target="_blank" href="#"><i class="hc-facebook"></i></a>
                    </li>
                    <li><a target="_blank" href="#"><i class="hc-twitter"></i></a>
                    </li>
                    <li><a target="_blank" href="#"><i class="hc-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="menu-item">
                <div class="nav-toggle">
                  <a class="menu-toggle" href="#">
                    <div class="hamburger">
                      <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div id="navigation">
              <ul class="navigation-menu nav">
                <li class="menu-item-has-children has-megamenu">
                  <a href="#">Home</a>
                  <ul class="submenu megamenu">
                    <li class="menu-item-has-children">
                      <a class="menu-label" href="#">Home Pages I</a>
                      <ul class="sub-menu">
                        <li>
                          <a href="index.html">Home Default</a>
                        </li>
                        <li>
                          <a href="home-digital-agency.html">Home Digital Agency</a>
                        </li>
                        <li>
                          <a href="home-creative-agency.html">Home Creative Agency</a>
                        </li>
                        <li>
                          <a href="home-minimal.html">Home Minimal</a>
                        </li>
                        <li>
                          <a href="home-business.html">Home Business</a>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <a class="menu-label" href="#">Home Pages II</a>
                      <ul class="sub-menu">
                        <li>
                          <a href="home-landing.html">Home Landing</a>
                        </li>
                        <li>
                          <a href="home-architecture.html">Home Architecture</a>
                        </li>
                        <li>
                          <a href="home-photography.html">Home Photography</a>
                        </li>
                        <li>
                          <a href="home-resume.html">Home Resume</a>
                        </li>
                        <li>
                          <a href="home-fitness.html">Home Fitness</a>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <a class="menu-label" href="#">Home Pages III</a>
                      <ul class="sub-menu">
                        <li>
                          <a href="home-portfolio.html">Home Portfolio</a>
                        </li>
                        <li>
                          <a href="home-fashion.html">Home Fashion</a>
                        </li>
                        <li>
                          <a href="home-one-page.html">Home One Page</a>
                        </li>
                        <li>
                          <a href="home-restaurant.html">Home Restaurant</a>
                        </li>
                        <li>
                          <a href="home-startup.html">Home Startup</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="menu-item-has-children"><a href="#">Pages</a>
                  <ul class="submenu">
                    <li>
                      <a href="page-about.html">About Us</a>
                    </li>
                    <li>
                      <a href="page-about-creative.html">About - Creative</a>
                    </li>
                    <li>
                      <a href="page-services.html">Services</a>
                    </li>
                    <li>
                      <a href="page-contact.html">Contact</a>
                    </li>
                    <li>
                      <a href="page-careers.html">Careers</a>
                    </li>
                    <li>
                      <a href="page-404.html">404 Page</a>
                    </li>
                  </ul>
                </li>
                <li class="menu-item-has-children"><a href="#">Portfolio</a>
                  <ul class="submenu">
                    <li class="menu-item-has-children">
                      <a href="#">Masonry</a>
                      <ul class="submenu">
                        <li>
                          <a href="portfolio-masonry-2col.html">Two Columns</a>
                        </li>
                        <li>
                          <a href="portfolio-masonry.html">Three Columns</a>
                        </li>
                        <li>
                          <a href="portfolio-masonry-4col.html">Four Columns</a>
                        </li>
                        <li>
                          <a href="portfolio-masonry-full.html">Full Width</a>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="#">Grid</a>
                      <ul class="submenu">
                        <li>
                          <a href="portfolio-grid-2col.html">Two Columns</a>
                        </li>
                        <li>
                          <a href="portfolio-grid.html">Three Columns</a>
                        </li>
                        <li>
                          <a href="portfolio-grid-4col.html">Four Columns</a>
                        </li>
                        <li>
                          <a href="portfolio-grid-full.html">Full Width</a>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="#">Titles Outside</a>
                      <ul class="submenu">
                        <li>
                          <a href="portfolio-titles-2col.html">Two Columns</a>
                        </li>
                        <li>
                          <a href="portfolio-titles.html">Three Columns</a>
                        </li>
                        <li>
                          <a href="portfolio-titles-4col.html">Four Columns</a>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="#">Single Work</a>
                      <ul class="submenu">
                        <li>
                          <a href="portfolio-single-1.html">Single Work 1</a>
                        </li>
                        <li>
                          <a href="portfolio-single-2.html">Single Work 2</a>
                        </li>
                        <li>
                          <a href="portfolio-single-3.html">Single Work 3</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="menu-item-has-children"><a href="#">Blog</a>
                  <ul class="submenu">
                    <li class="menu-item-has-children">
                      <a href="#">Grid</a>
                      <ul class="submenu">
                        <li>
                          <a href="blog-grid.html">Standard Grid</a>
                        </li>
                        <li>
                          <a href="blog-grid-sidebar.html">Sidebar Grid</a>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="#">Standard</a>
                      <ul class="submenu">
                        <li>
                          <a href="blog.html">Standard Layout</a>
                        </li>
                        <li>
                          <a href="blog-sidebar.html">Sidebar Layout</a>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="#">Single Post</a>
                      <ul class="submenu">
                        <li>
                          <a href="blog-single.html">Standard Post</a>
                        </li>
                        <li>
                          <a href="blog-single-sidebar.html">Sidebar Post</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="menu-item-has-children has-megamenu">
                  <a href="#">Elements</a>
                  <ul class="submenu megamenu">
                    <li><a class="menu-label" href="#">Group 1</a>
                      <ul class="sub-menu">
                        <li>
                          <a href="elements-accordions.html">Accordions</a>
                        </li>
                        <li>
                          <a href="elements-buttons.html">Buttons</a>
                        </li>
                        <li>
                          <a href="elements-carousels.html">Carousels</a>
                        </li>
                        <li>
                          <a href="elements-forms.html">Forms</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="menu-label" href="#">Group 2</a>
                      <ul class="sub-menu">
                        <li>
                          <a href="elements-icons.html">Icons</a>
                        </li>
                        <li>
                          <a href="elements-icon-boxes.html">Icon Boxes</a>
                        </li>
                        <li>
                          <a href="elements-message-boxes.html">Message Boxes</a>
                        </li>
                        <li>
                          <a href="elements-pricing-tables.html">Pricing Tables</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="menu-label" href="#">Group 3</a>
                      <ul class="sub-menu">
                        <li>
                          <a href="elements-progress-bars.html">Progress Bars</a>
                        </li>
                        <li>
                          <a href="elements-galleries.html">Image Galleries</a>
                        </li>
                        <li>
                          <a href="elements-tabs.html">Tabs</a>
                        </li>
                        <li>
                          <a href="elements-typography.html">Typography</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="menu-item-has-children"><a href="#">Shop</a>
                  <ul class="submenu">
                    <li>
                      <a href="shop.html">Products</a>
                    </li>
                    <li>
                      <a href="shop-single.html">Single Product</a>
                    </li>
                    <li>
                      <a href="shop-cart.html">Cart</a>
                    </li>
                    <li>
                      <a href="shop-checkout.html">Checkout</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <section>
        <div id="home-slider">
          <div class="slide-item">
            <img src="images/bg-image-10.jpg" alt="">
            <div class="slide-wrap dark-overlay">
              <div class="slide-content">
                <div class="container">
                  <h4 class="upper">Creative. Digital. Unique.</h4>
                  <h1 class="font-big alt-serif-font">Creative Solutions</h1>
                  <p><a class="btn btn-light-out btn-round upper" href="#">Browse Services</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="slide-item">
            <img src="images/bg-image-17.jpg" alt="">
            <div class="slide-wrap white-overlay">
              <div class="slide-content">
                <div class="container">
                  <h4 class="upper">Yes, we can build that.</h4>
                  <h1 class="font-big alt-serif-font">Premium Consulting</h1>
                  <p><a class="btn btn-dark-out btn-round upper" href="#">Who we are</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="title text-center">
            <h2 class="alt-serif-font font-big">Award Winning Agency.</h2>
          </div>
        </div>
      </section>
      <section class="p-0">
        <div class="container-fluid">
          <div class="row row-flex flex-center">
            <div class="col-md-6 col-sm-12 dark-bg">
              <div class="column-inner with-padding">
                <div class="title">
                  <h2 class="alt-serif-font">We are creative.</h2>
                </div>
                <div class="section-content">
                  <p class="font-18">We ideate, design and deliver iconic experiences, services and products that improve people’s lives. Our multidisciplinary team has been involved in some of the most innovative projects across multiple industries.</p>
                  <p class="mt-25"><a class="btn btn-light-out btn-round upper" href="#">Hire Us</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="column-inner with-padding">
                <div class="skill">
                  <h5 class="skill-name">Development<span class="skill-perc">90%</span></h5>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" data-progress="90"></div>
                  </div>
                </div>
                <div class="skill">
                  <h5 class="skill-name">Product Design<span class="skill-perc">80%</span></h5>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" data-progress="80"></div>
                  </div>
                </div>
                <div class="skill">
                  <h5 class="skill-name">Web Marketing<span class="skill-perc">95%</span></h5>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" data-progress="95"></div>
                  </div>
                </div>
                <div class="skill">
                  <h5 class="skill-name">Illustration<span class="skill-perc">85%</span></h5>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" data-progress="85"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 colored-bg" data-custom-bg="#3571ff">
              <div class="carousel white-dots" data-slick="{&quot;slidesToShow&quot;: 1}">
                <div class="carousel-item">
                  <div class="icon-box align-center"><i class="hc-paper-plane"></i>
                    <div class="ib-content">
                      <h4>Web Marketing</h4>
                      <p>Assumenda non repellendus distinctio nihil dicta sapiente, quibusdam maiores, illum at, aliquid eligendi.</p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="icon-box align-center"><i class="hc-ribbon"></i>
                    <div class="ib-content">
                      <h4>Art Direction</h4>
                      <p>Assumenda non repellendus distinctio nihil dicta sapiente, quibusdam maiores, illum at, aliquid eligendi.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row row-flex flex-center">
            <div class="col-md-3 col-sm-6">
              <div class="column-inner">
                <div class="carousel" data-slick="{&quot;slidesToShow&quot;: 1, &quot;dots&quot;: false}">
                  <div class="carousel-item">
                    <div class="team-member">
                      <div class="team-image">
                        <img src="images/team-1.jpg" alt="">
                      </div>
                      <div class="team-overlay" data-custom-bg="#3571ff">
                        <div class="team-info">
                          <h4>Luke Cage</h4><span>Founder & CEO</span>
                          <ul class="team-social">
                            <li><a href="#" target="_blank"><i class="hc-facebook"></i></a>
                            </li>
                            <li><a href="#" target="_blank"><i class="hc-twitter"></i></a>
                            </li>
                            <li><a href="#" target="_blank"><i class="hc-linkedin"></i></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="team-member">
                      <div class="team-image">
                        <img src="images/team-2.jpg" alt="">
                      </div>
                      <div class="team-overlay" data-custom-bg="#3571ff">
                        <div class="team-info">
                          <h4>Jessica Jones</h4><span>Product Designer</span>
                          <ul class="team-social">
                            <li><a href="#" target="_blank"><i class="hc-facebook"></i></a>
                            </li>
                            <li><a href="#" target="_blank"><i class="hc-twitter"></i></a>
                            </li>
                            <li><a href="#" target="_blank"><i class="hc-linkedin"></i></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="team-member">
                      <div class="team-image">
                        <img src="images/team-3.jpg" alt="">
                      </div>
                      <div class="team-overlay" data-custom-bg="#3571ff">
                        <div class="team-info">
                          <h4>Matt Murdock</h4><span>Lead Developer</span>
                          <ul class="team-social">
                            <li><a href="#" target="_blank"><i class="hc-facebook"></i></a>
                            </li>
                            <li><a href="#" target="_blank"><i class="hc-twitter"></i></a>
                            </li>
                            <li><a href="#" target="_blank"><i class="hc-linkedin"></i></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="team-member">
                      <div class="team-image">
                        <img src="images/team-4.jpg" alt="">
                      </div>
                      <div class="team-overlay" data-custom-bg="#3571ff">
                        <div class="team-info">
                          <h4>Claire Temple</h4><span>Sales Manager</span>
                          <ul class="team-social">
                            <li><a href="#" target="_blank"><i class="hc-facebook"></i></a>
                            </li>
                            <li><a href="#" target="_blank"><i class="hc-twitter"></i></a>
                            </li>
                            <li><a href="#" target="_blank"><i class="hc-linkedin"></i></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="column-inner">
                <div class="carousel pt-50 pb-50" data-slick="{&quot;slidesToShow&quot;: 1, &quot;dots&quot;: false, &quot;vertical&quot;: true, &quot;draggable&quot;: false}">
                  <div class="carousel-item">
                    <div class="counter">
                      <div class="counter-content b-0">
                        <h5><span class="number-count" data-count="125">125</span></h5><span>Satisfied Clients</span>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="counter">
                      <div class="counter-content b-0">
                        <h5><span class="number-count" data-count="45">45</span></h5><span>Projects a Year</span>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="counter">
                      <div class="counter-content b-0">
                        <h5><span class="number-count" data-count="970">970</span></h5><span>Support Tickets</span>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="counter">
                      <div class="counter-content b-0">
                        <h5><span class="number-count" data-count="190">190</span></h5><span>Blog Posts</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 flex-order-sm-2">
              <img class="thumb-placeholder" src="images/bg-image-12.jpg" alt="">
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="column-inner with-padding">
                <div class="title">
                  <h2 class="alt-serif-font">Idea to product.</h2>
                </div>
                <div class="section-content">
                  <ul class="check-list dark-skin">
                    <li data-animation="fadeInRight">Research</li>
                    <li data-animation="fadeInRight">Opportunity Analysis</li>
                    <li data-animation="fadeInRight">Consulting</li>
                    <li data-animation="fadeInRight">Brand Planning</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row row-flex flex-center">
            <div class="col-md-6 col-sm-6">
              <img class="thumb-placeholder" src="images/bg-image-11.jpg" alt="">
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="column-inner with-padding">
                <div class="title">
                  <h2 class="alt-serif-font">Get In Touch.</h2>
                </div>
                <div class="section-content">
                  <p class="font-18">The imaginative application of art and science to create beautiful ideas, products and services.</p>
                  <p class="mt-25"><a class="btn btn-dark btn-round upper" href="#">Message Us</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-12 p-0">
              <div class="map-box">
                <div id="map" data-lat="40.773328" data-long="-73.960088" data-style="grey"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="title text-center">
            <h2 class="alt-serif-font font-big">Our Best Works</h2>
          </div>
        </div>
      </section>
      <section class="dark-bg p-0">
        <div class="container-fluid">
          <div class="row pt-10 pb-10 pl-10 pr-10">
            <div class="enable-animation three-col with-spacing" id="works-grid">
              <div class="work-item">
                <div class="work-detail">
                  <a href="#">
                    <img src="images/portfolio-1.jpg" alt="">
                    <div class="work-info">
                      <div class="centrize">
                        <div class="v-center">
                          <h3>Mux Cards</h3>
                          <p>Branding, UI/UX</p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="work-item">
                <div class="work-detail">
                  <a href="#">
                    <img src="images/portfolio-2.jpg" alt="">
                    <div class="work-info">
                      <div class="centrize">
                        <div class="v-center">
                          <h3>Perkse Coffee</h3>
                          <p>Product Design, Packaging</p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="work-item">
                <div class="work-detail">
                  <a href="#">
                    <img src="images/portfolio-3.jpg" alt="">
                    <div class="work-info">
                      <div class="centrize">
                        <div class="v-center">
                          <h3>Petit Natural</h3>
                          <p>Branding, Packaging</p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="work-item">
                <div class="work-detail">
                  <a href="#">
                    <img src="images/portfolio-4.jpg" alt="">
                    <div class="work-info">
                      <div class="centrize">
                        <div class="v-center">
                          <h3>Float Bubbles</h3>
                          <p>UI/UX, Product Design</p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="work-item">
                <div class="work-detail">
                  <a href="#">
                    <img src="images/portfolio-5.jpg" alt="">
                    <div class="work-info">
                      <div class="centrize">
                        <div class="v-center">
                          <h3>Apple Watch Mockup</h3>
                          <p>Branding, Packaging</p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="work-item">
                <div class="work-detail">
                  <a href="#">
                    <img src="images/portfolio-7.jpg" alt="">
                    <div class="work-info">
                      <div class="centrize">
                        <div class="v-center">
                          <h3>Kraftig Navy</h3>
                          <p>Product Design, Packaging</p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="icon-box align-center icon--big" data-animation="zoomIn">
                <div class="animated-icon" data-icon="images/icons/display.svg"></div>
                <div class="ib-content">
                  <h4 class="alt-serif-font font-20">Web Development</h4>
                  <p>Distinctio animi modi maxime periam, voluptate. Iure enim laborum aliquid.</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="icon-box align-center icon--big" data-animation="zoomIn" data-delay="300">
                <div class="animated-icon" data-icon="images/icons/record.svg"></div>
                <div class="ib-content">
                  <h4 class="alt-serif-font font-20">Audio Editing</h4>
                  <p>Distinctio animi modi maxime periam, voluptate. Iure enim laborum aliquid.</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="icon-box align-center icon--big" data-animation="zoomIn" data-delay="600">
                <div class="animated-icon" data-icon="images/icons/pencil-ruler-pen.svg"></div>
                <div class="ib-content">
                  <h4 class="alt-serif-font font-20">UX Design</h4>
                  <p>Distinctio animi modi maxime periam, voluptate. Iure enim laborum aliquid.</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="icon-box align-center icon--big" data-animation="zoomIn" data-delay="900">
                <div class="animated-icon" data-icon="images/icons/cards-hearts.svg"></div>
                <div class="ib-content">
                  <h4 class="alt-serif-font font-20">Illustrations</h4>
                  <p>Distinctio animi modi maxime periam, voluptate. Iure enim laborum aliquid.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="parallax-section">
        <div class="row-parallax-bg">
          <div class="parallax-wrapper">
            <div class="parallax-bg">
              <img src="images/bg-image-16.jpg" alt="">
            </div>
            <div class="parallax-overlay"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="title text-center">
                <h2 class="alt-serif-font font-big">An Awesome Team For Your Next Project.</h2>
                <h4 class="mt-15">Pariatur explicabo quae nemo fuga, sapiente in consectetur et, similique laborum.</h4>
              </div>
              <div class="section-content">
                <p class="text-center m-0"><a class="btn btn-light-out btn-round upper" href="#">Contact Us</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="title text-center">
            <h2 class="alt-serif-font font-big">Latests Blogs.</h2>
          </div>
          <div class="section-content pt-25 pb-25">
            <div class="row">
              <div class="carousel dark-dots" data-slick="{&quot;slidesToShow&quot;: 3, &quot;mdItems&quot;: 2}">
                <div class="carousel-item with-padding">
                  <article class="post-preview">
                    <figure class="post-thumb">
                      <img class="thumb-placeholder" src="images/blog-1.jpg" alt="">
                    </figure>
                    <div class="post-info"><span class="post-category"><a href="#">Lifestyle</a></span>
                      <header class="post-title">
                        <h3 class="alt-serif-font"><a href="#">Your Ultimate Guide For Waking Up Early</a></h3>
                      </header>
                      <div class="post-body">
                        <p class="serif-font">Quos soluta corporis iure cum sequi maiores quod molestias in qui esse, nulla cumque iusto.</p>
                      </div>
                      <div class="post-meta"><span><a href="#">Mike Ross</a> on February 14, 2017</span>
                      </div>
                    </div>
                  </article>
                </div>
                <div class="carousel-item with-padding">
                  <article class="post-preview">
                    <figure class="post-thumb">
                      <img class="thumb-placeholder" src="images/blog-2.jpg" alt="">
                    </figure>
                    <div class="post-info"><span class="post-category"><a href="#">Mobile</a></span>
                      <header class="post-title">
                        <h3 class="alt-serif-font"><a href="#">Why unlimited data is making a comeback</a></h3>
                      </header>
                      <div class="post-body">
                        <p class="serif-font">Quos soluta corporis iure cum sequi maiores quod molestias in qui esse, nulla cumque iusto.</p>
                      </div>
                      <div class="post-meta"><span><a href="#">Mike Ross</a> on February 14, 2017</span>
                      </div>
                    </div>
                  </article>
                </div>
                <div class="carousel-item with-padding">
                  <article class="post-preview">
                    <figure class="post-thumb">
                      <img class="thumb-placeholder" src="images/blog-3.jpg" alt="">
                    </figure>
                    <div class="post-info"><span class="post-category"><a href="#">Design</a></span>
                      <header class="post-title">
                        <h3 class="alt-serif-font"><a href="#">Getting Started With VR Design</a></h3>
                      </header>
                      <div class="post-body">
                        <p class="serif-font">Quos soluta corporis iure cum sequi maiores quod molestias in qui esse, nulla cumque iusto.</p>
                      </div>
                      <div class="post-meta"><span><a href="#">Mike Ross</a> on February 14, 2017</span>
                      </div>
                    </div>
                  </article>
                </div>
                <div class="carousel-item with-padding">
                  <article class="post-preview">
                    <figure class="post-thumb">
                      <img class="thumb-placeholder" src="images/blog-4.jpg" alt="">
                    </figure>
                    <div class="post-info"><span class="post-category"><a href="#">Business</a></span>
                      <header class="post-title">
                        <h3 class="alt-serif-font"><a href="#">DigitalOcean launches load balancers</a></h3>
                      </header>
                      <div class="post-body">
                        <p class="serif-font">Quos soluta corporis iure cum sequi maiores quod molestias in qui esse, nulla cumque iusto.</p>
                      </div>
                      <div class="post-meta"><span><a href="#">Mike Ross</a> on February 14, 2017</span>
                      </div>
                    </div>
                  </article>
                </div>
                <div class="carousel-item with-padding">
                  <article class="post-preview">
                    <figure class="post-thumb">
                      <img class="thumb-placeholder" src="images/blog-5.jpg" alt="">
                    </figure>
                    <div class="post-info"><span class="post-category"><a href="#">Technology</a></span>
                      <header class="post-title">
                        <h3 class="alt-serif-font"><a href="#">Why AWS has such a big lead in the cloud</a></h3>
                      </header>
                      <div class="post-body">
                        <p class="serif-font">Quos soluta corporis iure cum sequi maiores quod molestias in qui esse, nulla cumque iusto.</p>
                      </div>
                      <div class="post-meta"><span><a href="#">Mike Ross</a> on February 14, 2017</span>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div id="footer">
        <section class="colored-bg" data-custom-bg="#3571ff">
          <div class="container">
            <ul class="social-list text-center">
              <li class="social-item-linkedin"><a target="_blank" href="#"><i class="hc-linkedin"></i></a>
              </li>
              <li class="social-item-facebook"><a target="_blank" href="#"><i class="hc-facebook"></i></a>
              </li>
              <li class="social-item-twitter"><a target="_blank" href="#"><i class="hc-twitter"></i></a>
              </li>
              <li class="social-item-pinterest"><a target="_blank" href="#"><i class="hc-pinterest"></i></a>
              </li>
              <li class="social-item-instagram"><a target="_blank" href="#"><i class="hc-instagram"></i></a>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bundle.js"></script>
    <script type="text/javascript" src="js/SmoothScroll.js"></script>
    <script type="text/javascript" src="js/jquery.mb.YTPlayer.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNGOsBBZo9vf0Tw4w6aJiilSTFVfQ5GPI"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>

</html>